# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.metadata/
.plugins/
.DS_Store
.metadata/

# Other files and folders
.settings/
.DS_Store
.metadata/

# Executables
*.swf
*.air
*.ipa
*.apk
*.index
*.history
*.DS_Store

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
